body{
    background-color: grey;
    width: 800px;
    height: 600px;
    margin: 0 auto 20px;
    padding: 20px;
}

header{
background-color: lightblue;
height: 50px;
padding: 10px;
margin-bottom: 10px;
}
nav{
background-color: lightgreen;
height: 200px;
padding: 10px;
margin-bottom: 10px;
}

main{
background-color: lightyellow;
height: 300px;
padding: 10px;
}

section{
background-color: white;
border: solid 1px black;
padding: 10px;
margin-bottom: 10px;
}

.noticiasdeportes{

    background-color: brown;

}

.noticiasentretenimiento{
    background-color: orangered;
}

.barralateral{
    background-color: lightpink;
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    height: 200px;
}


footer{

    background-color: lightseagreen;
    height: 50px;
    padding: 10px;
    margin-top: 10px;
    
}